DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=1541927788603514921
DISCORD_GUILD_ID=1541876534670000219
RESELL_BUDDY_URL=https://resell-buddy-bot-production.up.railway.app
WHOP_CHECKOUT=https://whop.com/checkout/plan_vAO3R1lqZ11UT/
